<table>
  <thead>
    <% @team["resultSets"][0]["headers"].each do |h| %>
      <th><%= h %></th>
    <% end %>
  </thead>
  <tbody>
    <% @team["resultSets"][0]["rowSet"].each do |player| %>
      <tr>
        <% player.each_with_index do |cell, index| %>
          <td>
            <% if index == 12 %>
              <%= link_to "View This Player", player_path(cell) %>
            <% else %>
              <%= cell %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

