
* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-size: 16px;
}

body {
  font-size: 1rem;
  text-align: center;
  background-color: rgba(240,240,240,0.1);
}

teams-directive {
  width: 85%;
}
a.team-holder {
  display: inline-block;
  background-color: white;
  height: 5em;
  border-radius: 5px;
  margin: .2em;
  min-width: 200px;
  padding: .2em;
  border: solid 1px #dddddd;
  box-shadow: 0px 0px 5px rgba(210,218,236,0.1);
  text-decoration: none;
  color: black;
  font-size: 1em;
  text-align: center;
}

team-directive {
  width: 85%;
}

.player-stats {
  width: 100%;
  border: solid black 1px;
  border-spacing: 0px;
  text-align: center;
}

thead {
  border-bottom: solid 1px black;
}

thead tr {
  border-bottom: inherit;
}

.player-stats thead tr th {
  border-bottom: inherit;
  background-color: white;
}

tbody tr:nth-child(2n+0) {
  background-color: white;
}

tbody tr:nth-child(2n+1) {
  background-color: rgba(210,218,236,0.4);
}

.player-name {
  display: inline;
}
.player-stats-container {
  text-align: left;
  margin: 10px;
}

.player-information {
  display: inline-block;
  width: 10%;
  margin: 2px;
}

.player-container {
  border: solid 1px black;
}

.player-container:nth-child(2n+0) {
  background-color: white;
  border-top: none;
}

.player-container:nth-child(2n+1) {
  background-color: rgba(210,218,236,0.4);
  border-top: none;
}

.player-container.header {
  border-top: solid 1px black;
}

.player-container:hover{
  cursor: pointer;
}

.player-container.header:hover {
  cursor: auto;
}

@media (max-width: 600px) {
  * {
    font-size: 12px;
  }

}