<!DOCTYPE html>
<html>
<head>
  <title>NBA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
  <script src="js/controllers/teamsController.js" charset="utf-8"></script>
  <script src="js/controllers/teamController.js" charset="utf-8"></script>
  <script src="js/models/teams.js" charset="utf-8"></script>
  <script src="js/models/team.js" charset="utf-8"></script>
  <script src="js/app.js" charset="utf-8"></script>
  <!-- <script src="js/app-compiled.js" charset="utf-8"></script> -->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/app.css">
  <base href="/">
</head>

<body ng-app="nba">
  <div ng-view>
    <%= yield %>
  </div>
</body>
</html>
