<!DOCTYPE html>
<html>
<head>
  <title>NBA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js" charset="utf-8" type="application/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js" type="application/javascript"></script>
  <%= javascript_include_tag "application" %>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <base href="/">
</head>

<body ng-app="nba">
  <div ng-view>
    <%= yield %>
  </div>
</body>
</html>
